$background-color: #000047;

$text-color: #262626;
$text-color2: #ffffff;
$text-color3: #48e3ff;
$text-color4: rgba(255,255,255,.5);

$button-bg-color: #ffffff;
$button-bg-color2: #1e00ff;
$button-hover-color: #104fff;

$gilroy-font: Gilroy;

$large: 1440px;
$medium: 728px;
$small: 320px;
